@using MyAccountBook_MVC.Helper

@model IEnumerable<MyAccountBook_MVC.Models.AccountBook>

<div class="col-md-12">
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>類別</th>
            <th>日期</th>
            <th>金額</th>
        </tr>
        @{
           var i = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@Html.SetColor((@Html.DisplayFor(d => item.Categoryyy).ToString() == "1" ? "收入" : "支出"))</td>
                <td>@Html.DisplayFor(d => item.Dateee)</td>
                <td>@Html.DisplayFor(d => item.Amounttt)</td>
            </tr>
           
            
        }
    </table>
</div>
    

